# Real-Time-Voice-Cloning 폴더 전체를 무시
Real-Time-Voice-Cloning/


# Audio/Video files
*.wav
*.mp4
*.pt

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Temp folders
temp/
AI/temp/
**/temp/uploads/
**/temp/outputs/

# Large model files
**/models/*.ckpt
submit/models/
AI/deepfake/models/
Backend/uploadedFiles/
